<!DOCTYPE html>
<html>
  <head>
    <title>Let's Ball!</title>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>

    <meta charset="utf-8">
  </head>
  <body>
    <div id="content">
    </div>
    <script type="text/javascript">
      $(window.LetsBall.initialize)

    </script>
  </body>
</html>
