<!DOCTYPE html>
<html>
  <head>
    <title>Let's Ball!</title>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>

    <meta charset="utf-8">
  </head>
  <body>
    <div id="map">
    </div>
    <div id="dash">
      <div class="prev">

      </div>
      <div class="controls">

      </div>
    </div>
    <div id="content">
    </div>
    <script type="text/javascript">
      $(window.LetsBall.initialize)

      $(function () {
        $('#content').empty();
        $('#map').css('opacity', 0);
        $('#content').css('width', '70%');
        $('#content').spin();
        initMap();
        // LetsBall.addAllMarkers;
        var styles = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}];
        map.setOptions({styles: styles});
        LetsBall.addMarker = function (game, drop) {
          var lat = game.attributes.latitude;
          var long = game.attributes.longitude;
          var gameId = game.get('id');
          var marker = new google.maps.Marker({
            gameId: gameId,
            position: {lat: lat, lng: long},
            map: map,
            title: 'Level-'+ game.attributes.level +' '+game.attributes.sport,
          });
          marker.addListener('mouseout', function () {
            $('#prev').remove();
          })
          marker.addListener('mouseover', function () {
            var game = new LetsBall.Models.Game({id: this.gameId});
            game.fetch({
              success: function() {
                LetsBall.showGamePrev(game);
              }
            })
          });
        }
        LetsBall.addAllMarkers = function () {
          LetsBall.allGames.each(function (game) {
            LetsBall.addMarker(game, false)
          })
        }
        LetsBall.allGames = new LetsBall.Collections.Games();
        LetsBall.allGames.fetch({
          success: LetsBall.addAllMarkers
        })
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            // center: {lat: -34.397, lng: 150.644},
            zoom: 13,
            disableDefaultUI: true,
          });
          // var infoWindow = new google.maps.InfoWindow({map: map});

          // Try HTML5 geolocation.
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };

              // infoWindow.setPosition(pos);
              // infoWindow.setContent('.');
              map.setCenter(pos);
            }, function() {
              // handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            // Browser doesn't support Geolocation
            // handleLocationError(false, infoWindow, map.getCenter());
          }

          map.addListener('tilesloaded', function() {
            $('#content').spin(false);
          $('#content').css('width', '100%');
            $('#map').css('opacity', 1);
            $('#map').css('position', 'fixed');
          });


        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
        }

        var styles = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}];

      }
    })
    </script>
  </body>
</html>
