<!DOCTYPE html>
<html>
  <head>
    <title>Let's Ball!</title>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>

    <meta charset="utf-8">
  </head>
  <body>
    <div id="content">
      <div id="map"></div>
    </div>
    <script type="text/javascript">
      $(window.LetsBall.initialize)

      $(function () {
        LetsBall.current_user = {
          id: Number("<%= !!current_user ? current_user.id : '' %> ")
        }
      })

    </script>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          // center: {lat: -34.397, lng: 150.644},
          zoom: 12
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }


      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
      var styleArray = [
        {
          featureType: "all",
          stylers: [
            { saturation: -80 }
          ]
        },{
          featureType: "road.arterial",
          elementType: "geometry",
          stylers: [
            { hue: "#00ffee" },
            { saturation: 50 }
          ]
        },{
          featureType: "poi.business",
          elementType: "labels",
          stylers: [
            { visibility: "off" }
          ]
        }
      ];
      initMap();
      map.setOptions({styles: styleArray});
      var allGames = new LetsBall.Collections.Games();
      allGames.fetch();
      window.onload = function () {
        allGames.each( function (game) {
          var lat = game.attributes.latitude;
          var long = game.attributes.longitude;
          var marker = new google.maps.Marker({
            position: {lat: lat, lng: long},
            map: map,
            title: 'Level-'+ game.attributes.level +' '+game.attributes.sport
          });
        })
      }
    </script>
  </body>
</html>
