<h1>
  new game form
</h1>
<% var now = new Date(); %>
<% var year = 1900 + now.getYear(); %>
<% var month = ('0' + (now.getMonth() + 1)).slice(-2); %>
<% var wday = now.getDay(); %>
<% var date = ('0' + now.getDate()).slice(-2); %>
<% var hours = ('0' + now.getHours()).slice(-2); %>
<% var minutes = ('0' + now.getMinutes()).slice(-2); %>

<h2>Where?</h2>
<input id="map-canvas">
</input>

<h2>When?</h2>
<input class="date-input" type="date" value="<%= year + '-' + month + '-' + date %>">
<br>
<input class="time-input" type="time" value="<%= hours + ':' + minutes + ':' +'00'%>">


<h2>What?</h2>

<select class="select-sport">
  <option value="">Select Sport</option>
</select>
<br>
<select class="select-level">
  <option value="">Select Level</option>
  <option value="1">1 - Light</option>
  <option value="2">2 - Fast</option>
  <option value="3">3 - Expert</option>
</select>
<br>
<input class="byob-box" type="checkbox">Bring Your Own Ball
<br>
<input class="show-phone-box" type="checkbox">Show my phone number
<br>
<button class="submit-game">Let's Ball</button>

<script type="text/javascript">

var input = document.getElementById('map-canvas')
var autocomplete = new google.maps.places.Autocomplete(input)

var sports_arr = [ 'Basketball', 'Soccer', 'Football', 'Tennis', 'Kickball', 'Baseball', 'Frisbee', 'Rugby', 'Quidditch' ].sort();
sports_arr.forEach(function (sport) {
  var option = document.createElement('option')
  var option = $(option)
  option.val(sport)
  option.html(sport)
  $('.select-sport').append(option)
})
</script>
