/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#content {
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
}

.nav-bar {
  position: static;
  height: 100px;
}

.nav-bar > * {
    top: 50%;
    transform: translateY(-50%);
    margin: auto 12px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    float: left;
}

.new-game-link, form.button_to {
  float: right;
}

.nav-bar > h1 {
  float: right;
}

#map {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
