/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#content {
  display: inline-block;
  position: absolute;
  top: 101px;
  left: 0;
  bottom: 0;
  right: 0;
}

.nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 999;
  height: 100px;
  border-bottom: 1px black solid;
}

.nav-bar > * {
    top: 50%;
    transform: translateY(-50%);
    margin: auto 12px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    float: left;
}

.new-game-link, form.button_to {
  float: right;
}

.nav-bar > h1 {
  float: none;
}

#map {
  display: inline-block;
  position: fixed;
  height: 100%
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.new-game-form-div {
  position: absolute;
  top: 120px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: white;
  padding: 46px;
  border-radius: 3px;
  border: 1px black solid;
}

.new-game-form-div > #map-canvas {
  height: 50px;
  width: 100%;
  text-align: center;
}

div.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
}
